@import "../../../assets/styles/_variables.scss";

// Common styles
.button {
  @apply flex items-center justify-center py-[19px] px-[40px] rounded-full text-white-100 text-[18px] font-bold min-w-[245px] leading-[22px] active:scale-95;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s, border-color 0.25s;
  // Styles for b
  & > b {
    @apply inline-block font-bold text-[18px] ml-[5px];
    transition: color 0.25s;
    line-height: 21.6px;
  }
  // Sizes
  &_large {
    @apply min-w-[320px] sm:min-w-full;
  }
  &_small {
    @apply min-w-[180px];
  }
  &_fit {
    @apply min-w-fit max-w-fit;
  }
  &_extra-small {
    @apply px-[25px] min-w-fit;
  }
}
// Primary
.primaryContained {
  @apply shadow-primary bg-primary-400 hover:bg-primary-300 hover:shadow-none;
  &_active {
    @apply bg-primary-500 shadow-none;
  }
}
.primaryOutlined {
  @apply border-2 border-solid border-primary-400 text-primary-400 shadow-none hover:bg-primary-400 hover:text-white-100 hover:shadow-primary;
}

// Black
.blackOutlined {
  @apply text-black-400 dark:text-white-100 dark:bg-black-400 border-primary-400 dark:border-gray-500 border-2 hover:dark:border-primary-400 hover:bg-primary-400 hover:text-white-100;
  &:hover > b {
    @apply text-secondary-400;
  }
  &_active {
    @apply text-black-400 dark:text-white-100 border-transparent dark:border-secondary-400 dark:hover:border-secondary-400 bg-secondary-400 dark:hover:bg-primary-400 hover:bg-secondary-300 shadow-secondary dark:hover:bg-transparent hover:text-black-400;
    & > b {
      @apply text-white-100 dark:text-secondary-400;
    }
    &:hover {
      @apply shadow-none;
      & > b {
        @apply text-white-100 dark:text-secondary-400;
      }
    }
  }
}

// Disabled styles
.button_disabled {
  @apply shadow-none opacity-50 bg-gray-400 border-none text-white-100 hover:bg-gray-400 hover:shadow-none;
}

// Secondary
.secondaryContained {
  @apply bg-secondary-400 text-black-400 shadow-secondary hover:bg-secondary-300 hover:shadow-none;
  &_active {
    @apply bg-secondary-500;
  }
}

// Blue
.blue {
  @apply bg-blue-200 shadow-blue hover:shadow-none;
}
