@import "../../../assets/styles/_variables.scss";

.button {
  @apply flex items-center justify-center py-[19px] px-[40px] rounded-full text-white-100 text-[18px] font-bold min-w-[245px] sm:px-[25px];
  line-height: 22px;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s, border-color 0.25s;
  &:active {
    transform: scale(0.95);
  }
  & > b {
    @apply inline-block font-bold text-[18px] ml-[5px];
    line-height: 21.6px;
  }
  &_large {
    @apply min-w-[320px] xs:min-w-full;
  }
  &_small {
    @apply min-w-[180px];
  }
  &_fit {
    @apply min-w-fit;
  }
  &_extra-small {
    @apply px-[25px] min-w-fit;
  }
}
.buttonContained {
  background-color: $primary-400 !important;
  box-shadow: 0px 10px 20px rgba(127, 134, 232, 0.25) !important;
  border-color: transparent !important;
  &:hover {
    background-color: $primary-300 !important;
    box-shadow: none;
  }
}
.buttonPrimary_active {
  background-color: $primary-500 !important;
  box-shadow: none;
}
.buttonOutlined {
  border: 2px solid $primary-400;
  color: $primary-400;
  box-shadow: none;
  &:hover {
    background-color: $primary-400;
    color: $white-100;
    box-shadow: 0px 10px 20px rgba(127, 134, 232, 0.25);
  }
}
.buttonSecondary {
  background-color: $secondary-400 !important;
  color: $black-400;
  box-shadow: 0px 10px 20px rgba(255, 219, 89, 0.25) !important;
  &:hover {
    background-color: $secondary-300 !important;
  }
  &_active {
    background-color: $secondary-500;
  }
}
.buttonDisabled {
  box-shadow: none;
  opacity: 0.5;
  background-color: $gray-400;
  border: none;
  color: $white-100;
  &:hover {
    background-color: $gray-400;
  }
}
.buttonOutlinedBlack {
  @apply text-white-100 bg-black-400 border-black-300;
  &:hover {
    @apply bg-black-400 border-primary-400;
  }
  &_active {
    @apply border-primary-400;
  }
}
