@import "../../assets/styles/_variables.scss";

.header {
  max-height: 79px;
}

.headerLogo {
  @apply mr-10;
}

.headerPopper {
  position: absolute;
  left: 0;
  top: 0;
  width: 273px;
  border-radius: 10px;
  padding: 12.5px 30px;
  background-color: $black-300;
  transform: translateY(30px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s, 0.25s;
  z-index: 2;
  & > ul {
    @apply flex items-center justify-between flex-wrap;
    & > li {
      width: 50%;
      margin: 7.5px 0;
      & > a {
        color: $gray-400;
        transition: color 0.25s;
        &:hover {
          color: $secondary-400;
        }
      }
    }
  }
}

.headerPopperActive {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.headerIconButton {
  @apply relative flex items-center;
  height: 40px;
  margin-right: 26px;
  cursor: pointer;
  & svg {
    & path {
      transition: fill 0.25s, stroke 0.25s;
    }
  }
  &:hover svg path {
    fill: $secondary-400;
  }
}

.headerLikeIcon:hover svg path {
  stroke: $secondary-400;
}

.headerIconButtonCount {
  @apply absolute flex items-center justify-center w-5 h-5 bg-primary-400 rounded-full font-extrabold text-white-100;
  font-size: 13px;
  top: 3px;
  right: 1px;
}

.headerSelect {
  @apply relative font-medium text-lg;
  width: 60px;
  height: 40px;
  margin-right: 15px;
  &:hover button {
    border-color: $secondary-400;
    color: $secondary-400;
  }
  button {
    @apply relative w-full h-full flex items-center justify-center rounded-full;
    border: 2px solid $gray-400;
    transition: color 0.25s, border-color 0.25s;
  }
}

.headerSelectPopper {
  @apply flex flex-col w-full rounded-full bg-black-400 py-2;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid $gray-400;
  transform: translateY(20%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, transform 0.25s;
  & span {
    @apply w-full text-center text-white-100 cursor-pointer;
    transition: color 0.25s;
    &:hover {
      color: $secondary-400;
    }
  }
}

.headerSelectPopperActive {
  transform: translateY(-10%);
  opacity: 1;
  visibility: visible;
}

.headerIcon svg {
  & circle,
  & path {
    transition: fill 0.25s, stroke 0.25s;
  }
  &:hover {
    & circle {
      stroke: $secondary-400;
    }
    & path {
      fill: $secondary-400;
    }
  }
}

.headerChangeMode {
  @apply relative rounded-full w-20 h-10 p-2;
  border: 2px solid $gray-400;
  & span:first-child {
    position: absolute;
    left: -3px;
    top: -2px;
    width: 40px;
    height: 40px;
    background-color: $primary-400;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.25s;
    box-shadow: 0px 10px 20px rgba(127, 134, 232, 0.25);
  }
  & span:last-child {
    @apply relative flex items-center justify-between;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    & svg path {
      transition: fill 0.25s, stroke 0.25s;
    }
  }
}

.headerChangeModeLight {
  & span:first-child {
    transform: translateX(0);
  }
  & svg:first-child path {
    fill: $white-100;
    stroke: $white-100;
  }
}

.headerChangeModeDark {
  & span:first-child {
    transform: translateX(102%);
  }
  & svg:last-child path {
    fill: $white-100;
    stroke: $white-100;
  }
}

.headerSearch {
  @apply absolute top-0 left-0 right-0 w-full bg-primary-400 z-20;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s;
  & input {
    @apply w-full h-full outline-none border-none text-white-100 font-bold;
    background-color: transparent;
    font-size: 32px;
    padding-right: 40px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}

.headerSearchIcon {
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  & path {
    fill: #ffffff;
  }
}

.headerSearchActive {
  opacity: 1;
  visibility: visible;
}

.headerSell {
  margin-left: 15px;
}
.headerUser {
  @apply relative;
  margin: 0 13px;
}
.headerUserTop {
  @apply flex items-start bg-white-100 p-3 cursor-pointer;
  width: 170px;
  height: 64px;
  border-radius: 10px 10px 0 0;
  border: 2px solid $gray-400;
  transition: background-color 0.25s;
}
.headerUserAvatar {
  @apply bg-cover bg-no-repeat bg-center bg-white-100 rounded-full;
  width: 40px;
  height: 40px;
  border: 2px solid $gray-400;
  margin-right: 10px;
  flex-shrink: 0;
}
.headerUserInfo {
  @apply w-full;
  font-size: 17px;
  line-height: 20px;
  & div {
    @apply flex items-center;
    cursor: pointer;
    transition: color 0.25s;
    & svg {
      margin-left: 7px;
    }
  }
  & b {
    @apply text-secondary-400;
  }
}

.headerUserPopper {
  @apply w-full bg-black-300;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #23272e;
  padding: 20px 10px 20px 20px;
  border-radius: 0 0 10px 10px;
  transform: translateY(21%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s;
  & ul {
    @apply flex flex-col;
    & li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        @apply w-full flex items-center justify-between;
        &:hover b {
          color: $secondary-400;
        }
        & b {
          @apply text-gray-400 text-base font-medium;
          transition: color 0.25s;
        }
        & span {
          @apply w-6 h-6 flex items-center justify-center text-xs text-white-100 font-extrabold bg-primary-400 rounded-full;
          margin-left: 10px;
        }
      }
    }
  }
}
.headerUserPopperActive {
  opacity: 1;
  visibility: visible;
}
.mr0 {
  margin-right: 0;
}
