@import "../../../assets/styles/_variables.scss";

.preview {
  @apply mb-[30px];
}

.buttons {
  @apply flex items-center pb-[50px] lg:pb-[30px] lg:overflow-x-auto lg:pl-[20px] lg:pr-[10px] lg:-mx-[20px] lg:flex-nowrap;
}

.button {
  @apply mr-[20px] last:mr-0 lg:flex-shrink-0 lg:mr-[10px] lg:last:mt-0 xl:px-[30px];
}

.title {
  @apply font-bold text-white-100 mb-[30px] sm:mb-[20px];
  font-size: 52px;
  line-height: 67.6px;
  @media (max-width: $breakpoint992) {
    font-size: 45px;
    line-height: 55px;
  }
  @media (max-width: $breakpoint480) {
    font-size: 30px;
    line-height: 39px;
  }
}
