@import "../../../assets/styles/_variables.scss";

// Text
.title {
  @apply block mb-[20px];
}
.text {
  @apply block w-full mb-[40px] sm:mb-[30px];
}

.input,
.select {
  @apply mr-[10px] lg:mr-0 lg:mb-[20px];
}

.select {
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 5px);
  }
  @media (max-width: $breakpoint768) {
    width: 100%;
  }
}

// Flex container
.items {
  @apply flex items-center mb-[20px] last:mb-0 lg:w-full lg:flex-wrap lg:justify-between;
}

// Input
.input {
  @apply lg:w-full;
}

.inputWithButton {
  @apply lg:w-full;
  & > input {
    @apply lg:w-full;
  }
}

// Popper
.inputPopper {
  @apply absolute right-0 -top-[17px] -translate-y-[100%] bg-black-300;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  & > div {
    @apply relative;
    & > ul {
      @apply p-[25px];
      & > li {
        @apply text-white-200 text-[17px] font-medium hover:text-secondary-400 mb-[15px] last:mb-0 cursor-pointer;
        line-height: 20px;
        transition: color 0.25s;
      }
    }
  }
  &_active {
    visibility: visible;
    opacity: 1;
  }
}

.inputPopperArrow {
  @apply absolute bg-black-300 right-[23px] -bottom-[5px] w-[16px] h-[16px] z-10;
  border-radius: 4px;
  transform: rotate(45deg);
}

// Bottom Button
.button {
  @apply sm:min-w-full;
}
