@import "../../../../assets/styles/_variables.scss";

.offerTitle {
  @apply text-[32px] font-bold mb-[20px] sm:text-[24px];
}
.itemWrapper {
  @apply mb-[40px] sm:mb-[30px] last:mb-0;
}
.itemTitle {
  @apply text-[32px] dark:text-white-100 font-bold mb-[20px] sm:text-[24px] sm:mb-[15px];
}
.item {
  @apply bg-white-200 mb-[10px] dark:bg-black-300 last:mb-0;
  padding: 20px 30px;
  border-radius: 10px;
  &_limit {
    position: relative;
    width: calc(50% - 5px);
    @media (max-width: $breakpoint992) {
      width: 100%;
    }
  }
}
.itemList {
  @apply flex items-start mb-[20px] sm:flex-col;
  & > div {
    @apply first:mr-[30px] sm:first:mr-0 sm:mb-[20px] sm:last:mb-0;
  }
  &_short {
    @apply lg:flex-col;
    & > div {
      @apply lg:mb-[20px] lg:last:mb-0;
    }
  }
}
.itemText {
  @apply text-[18px] font-medium text-gray-400;
  line-height: 22px;
  &_white {
    @apply inline-block dark:text-white-100 font-bold mt-[10px];
    line-height: 130%;
  }
}
.itemPrice {
  @apply text-gray-400 font-bold text-[32px] sm:text-[24px];
  & span {
    font-size: 15px;
    color: inherit;
    font-weight: inherit;
  }
}
.itemFooter {
  @apply flex items-center justify-between xs:flex-wrap;
}
.itemIcons {
  @apply flex items-center xxs:w-full xxs:mt-[15px];
  & > button {
    @apply mr-[15px] last:mr-0;
  }
  &_short {
    @apply xs:w-full xs:mt-[15px];
    & > button {
      @apply sm:mr-[10px];
    }
  }
}
.itemStatus {
  @apply absolute top-0 right-0 w-[14px] h-[14px] rounded-full bg-gray-400;
  &_online {
    @apply bg-green-200;
  }
}
.items {
  @apply flex items-center justify-between flex-wrap;
}
.addButton {
  @apply mb-[40px] md:mb-[30px] xs:min-w-full;
}
