.c_ {
  &white {
    @apply text-white-100;
  }
  &primary {
    @apply text-primary-400;
  }
  &secondary {
    @apply text-secondary-400;
  }
  &gray {
    @apply text-gray-400;
  }
  &black {
    @apply text-black-400;
  }
}

.w_ {
  &400 {
    @apply font-normal;
  }
  &500 {
    @apply font-medium;
  }
  &600 {
    @apply font-semibold;
  }
  &700 {
    @apply font-bold;
  }
}

.s_ {
  &d {
    @apply text-[16px];
  }
  &xxs {
    @apply text-[15px];
  }
  &xs {
    @apply text-[17px];
  }
  &s {
    @apply text-[18px] md:text-[17px];
  }
  &m {
    @apply text-[20px] md:text-[18px];
  }
  &l {
    @apply text-[24px];
  }
  &xl {
    @apply text-[32px] md:text-[24px];
  }
  &xxl {
    @apply text-[52px] md:text-[30px];
  }
  &vl {
    @apply text-[62px] lg:text-[52px] md:text-[30px];
  }
}

.a_ {
  &center {
    @apply text-center;
  }
  &left {
    @apply text-left;
  }
  &right {
    @apply text-right;
  }
}

.h_ {
  &p {
    @apply hover:text-primary-400;
    transition: color 0.25s;
  }
  &s {
    @apply hover:text-secondary-400;
    transition: color 0.25s;
  }
  &m {
    @apply hover:text-primary-400 dark:hover:text-secondary-400;
    transition: color 0.25s;
  }
}

.l_ {
  &38 {
    @apply leading-[38px] md:leading-[29px];
  }
  &24 {
    @apply leading-[24px] md:leading-[22px];
  }
  &29 {
    @apply leading-[29px];
  }
  &170 {
    @apply leading-[170%];
  }
  &150 {
    @apply leading-[150%];
  }
  &130 {
    @apply leading-[130%];
  }
  &120 {
    @apply leading-[120%];
  }
  &20 {
    @apply leading-[20px];
  }
  &19 {
    @apply leading-[19px];
  }
  &22 {
    @apply leading-[22px] md:leading-[20px];
  }
}

.textWithArrow {
  @apply inline-flex items-center mb-[15px] sm:mb-[10px];
  & > b {
    @apply inline-block font-bold text-gray-400 leading-[20px] text-[17px] ml-[15px];
    transition: color 0.25s;
  }
  & > svg {
    @apply flex-shrink-0;
    & > path {
      transition: stroke 0.25s;
    }
  }
  &:hover {
    & > b {
      @apply text-secondary-400;
    }
    & > svg > path {
      @apply stroke-secondary-400;
    }
  }
}
