@import "../../assets/styles/_variables.scss";

/* section title */

.sectionTitle {
  @apply font-bold text-primary-400 dark:opacity-100;
  top: 0;
  font-size: 240px;
  opacity: 0.15;
  line-height: 288px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  transform: translate(-3%, 35%);
}

/* section */

.section {
  padding-top: 330px;
  padding-bottom: 100px;
}

/* home top */

.homeTop {
  margin-top: 100px;
  padding-bottom: 332px;
  & h1 {
    @apply font-bold;
    font-size: 62px;
    margin-bottom: 30px;
    transition: color 0.25s;
    & b {
      @apply text-primary-400 font-bold;
      transition: color 0.25s;
    }
  }
  & p {
    @apply inline-block text-gray-400 font-normal leading-8;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.homeTopImage {
  position: relative;
  @apply flex-shrink-0;
  margin-left: 85px;
  &::before {
    content: "";
    position: absolute;
    top: -55%;
    left: -50%;
    width: 1164px;
    height: 1046px;
    background: url("../../assets/images/blur.svg") no-repeat center / cover;
  }
}

.homeTopButtons {
  @apply flex items-center;
  & span {
    @apply inline-block mx-5 text-gray-400 text-xl;
  }
}

/* categories */

.categories {
  padding-bottom: 100px;
  & h2 {
    transform: translate(-3%, -84%);
  }
}

.categoriesList {
  @apply relative z-10;
  column-count: 4;
  column-gap: 10px;
}

.category {
  @apply inline-block bg-white-200;
  min-width: 25%;
  width: 100%;
  min-height: 154px;
  border-radius: 10px;
  padding: 30px 40px 15px;
  margin-bottom: 10px;
  & ul {
    @apply flex items-center flex-wrap;
    & li {
      @apply w-1/2;
      margin-bottom: 15px;
      & span {
        @apply w-fit flex items-center cursor-pointer;
        &:hover {
          & a {
            @apply text-primary-400 dark:text-secondary-400;
          }
          & svg {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      & a {
        @apply text-xl font-medium text-gray-400 cursor-pointer flex-shrink-0;
        padding-right: 10px;
        transition: color 0.25s;
      }
      & svg {
        flex-shrink: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
        fill: $primary-400;
        stroke: $primary-400;
        cursor: pointer;
        & path:first-child {
          display: none;
        }
      }
    }
  }
}

.serviceLiked svg {
  opacity: 1 !important;
  visibility: visible !important;
  & path:first-child {
    display: block !important;
  }
}

.categoryTop {
  @apply flex items-center mb-5;
  & a {
    @apply font-bold;
    font-size: 32px;
    transition: color 0.25s;
    &:hover {
      color: $primary-400;
    }
  }
}

.categoryIcon {
  @apply bg-center bg-cover bg-no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/* services */

.services {
  @apply bg-white-200;
}

.service {
  @apply flex items-center bg-white-100;
  width: calc(25% - 10px);
  min-height: 180px;
  border-radius: 10px;
  padding: 30px 47px 30px 40px;
  & b {
    @apply inline-block text-black-400 font-bold mb-5;
    font-size: 32px;
  }
  & ul li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    & a {
      @apply text-gray-400 font-medium hover:text-primary-400;
      font-size: 20px;
      transition: color 0.25s;
    }
  }
}

.serviceImage {
  @apply flex-shrink-0;
  margin-left: 47px;
}

/* socials */

.socials {
  @apply bg-white-100;
}

.social {
  @apply bg-white-200;
  width: calc(20% - 10px);
  padding: 30px 40px;
  border-radius: 10px;
  & b {
    @apply font-bold;
    font-size: 32px;
    margin-left: 15px;
  }
  & ul {
    margin-top: 20px;
    @apply flex justify-between items-center flex-wrap;
    & li {
      width: calc(50% - 25px);
      & a {
        @apply text-gray-400 font-medium hover:text-primary-400;
        font-size: 20px;
        transition: color 0.25s;
      }
    }
  }
}

/* advantages */

.advList {
  @apply flex items-start justify-between flex-wrap;
  padding-top: 50px;
  padding-bottom: 100px;
}

.adv {
  @apply relative flex-shrink-0;
  width: calc(25% - 15px);
  margin-top: 133px;
  & span {
    @apply absolute left-0 top-0 inline-block text-primary-400 font-bold dark:text-black-300 dark:opacity-100;
    line-height: 120px;
    font-size: 100px;
    opacity: 0.15;
    transform: translateY(-72%);
    user-select: none;
    pointer-events: none;
  }
  & b {
    @apply inline-block text-2xl font-bold dark:text-white-100;
    margin-bottom: 15px;
  }
  & p {
    @apply text-gray-400 font-normal leading-8;
    font-size: 17px;
  }
}

/* about */

.about {
  @apply bg-white-100 dark:bg-black-400;
  padding-top: 100px;
  padding-bottom: 125px;
  & h2 {
    @apply font-bold text-primary-400 dark:text-black-300 dark:opacity-100;
    font-size: 240px;
    line-height: 288px;
    opacity: 0.15;
  }
  & p {
    @apply font-normal text-gray-400 leading-8;
    margin: 50px 0;
    font-size: 20px;
  }
}

.aboutList {
  @apply flex items-start justify-between;
}

.aboutItem {
  @apply text-center flex-shrink-0;
  width: calc(33.3% - 10px);
  b {
    @apply dark:text-white-100 text-2xl font-bold;
  }
  p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 17px;
  }
}
