@import "../../assets/styles/_variables.scss";

// Chat
.chat {
  @apply bg-black-300;
  border-radius: 10px;
  &_normal {
    @apply w-[650px] lg:w-full;
    height: 500px;
  }
  &_global,
  &_full {
    width: 100%;
    height: 700px;
  }
  &_full {
    @apply flex items-start;
  }
}

// Chat content
.chatContent {
  @apply flex flex-col h-full;
  &_limit {
    width: 720px;
  }
}

// Chat top
.chatTop {
  @apply flex items-center;
  padding: 30px 40px;
  border-bottom: 2px solid $gray-500;
  @media (max-width: $breakpoint768) {
    padding: 20px;
  }
}

.chatTopText {
  @apply flex items-center ml-[10px] xs:flex-col xs:items-start;
  & > span {
    @apply inline-block mr-[10px] xs:mr-0;
  }
}

.chatTopIcons {
  @apply relative flex items-center justify-between rounded-full;
  border: 2px solid $gray-400;
  & > button {
    @apply flex items-center justify-center relative w-[40px] h-[40px] z-10;
  }
  @media (max-width: $breakpoint768) {
    @apply absolute -top-[15px] opacity-0 flex-col bg-black-300;
    visibility: hidden;
    transition: opacity 0.25s;
    &_open {
      @apply opacity-100;
      visibility: visible;
    }
  }
}

.chatTopButton {
  @apply hidden sm:flex items-center justify-center w-[40px] h-[40px] rounded-full;
  border: 2px solid $gray-400;
  & > svg > path {
    transition: fill 0.25s;
  }
  &:hover {
    border-color: $secondary-400;
    & > svg > path {
      fill: $secondary-400;
    }
  }
}

.chatTopIndicator {
  @apply absolute -left-[1px] w-[45px] h-[45px] top-1/2 rounded-full bg-primary-400 z-10 sm:hidden;
  transition: transform 0.25s;
}

// text
.chatTitle {
  @apply inline-block font-medium text-[17px] text-white-100;
}
.chatText {
  @apply font-medium text-[15px] text-gray-400;
  &_white {
    @apply text-white-100;
  }
}
.chatTextPurple {
  @apply text-[17px] font-bold text-primary-400;
}
.chatDate {
  @apply w-fit text-[15px] font-bold text-gray-400 rounded-full;
  border: 2px solid $gray-400;
  padding: 6px 15px;
  margin: 0 auto 20px auto;
}

// Chat middle
.chatMiddle {
  @apply flex-grow overflow-y-scroll;
  padding: 20px 40px 0;
  &::-webkit-scrollbar-track {
    background-color: $gray-500;
  }
  @media (max-width: $breakpoint768) {
    padding: 20px;
  }
}

// Chat message
.chatMessage {
  @apply w-1/2 sm:w-full;
  margin-right: auto;
  &_me {
    margin-left: auto;
  }
}
.chatMessageTop {
  @apply flex items-center justify-between;
  margin: 0 15px 10px;
}
.chatMessageContent {
  @apply bg-primary-400 font-medium text-[15px] text-white-100;
  line-height: 130%;
  padding: 10px 15px;
  border-radius: 10px;
  &_me {
    @apply bg-gray-500;
  }
}

// Chat bottom
.chatBottom {
  @apply relative mt-auto;
}
.chatBottomInput {
  @apply w-full bg-gray-500 text-[17px] font-normal text-white-100;
  padding: 25px 75px 25px 40px;
  &::placeholder {
    @apply text-gray-400;
  }
  &_rounded {
    border-radius: 0 0 10px 10px;
  }
  @media (max-width: $breakpoint768) {
    padding: 25px 50px 25px 20px;
  }
  &_gray {
    background-color: $gray-400;
    &::placeholder {
      color: $white-100;
      opacity: 0.5;
    }
  }
}
.chatBottomButton {
  @apply flex items-center justify-center absolute top-1/2 -translate-y-1/2 right-[40px] sm:right-[20px];
  transition: transform 0.25s;
  &:active {
    transform: translateY(-50%) scale(0.9);
  }
}

// Chat navigation
.chatNav {
  @apply w-[300px] h-full border-r-2 border-gray-500;
  padding: 15px 10px;
}
.chatNavItem {
  @apply relative flex items-center cursor-pointer rounded-full hover:bg-dark;
  padding: 15px 20px;
  transition: background-color 0.25s;
  &_active {
    border: 2px solid $primary-400;
  }
}
.chatNavItemInfo {
  @apply flex-grow;
  margin-left: 10px;
  & > p {
    @apply mt-[5px];
    max-width: 180px;
  }
}
.chatNavItemTop {
  @apply flex items-center justify-between;
  & > span {
    margin-right: 15px;
    max-width: 135px;
  }
}
.chatNavItemStatus {
  @apply absolute right-0 top-[15px] w-[6px] h-[6px] bg-secondary-400 rounded-full;
}
