@import "../../assets/styles/_variables.scss";

.chat {
  @apply flex items-start bg-black-300 overflow-hidden;
  height: 500px;
  border-radius: 10px;
  & b {
    @apply font-medium text-white-100;
    font-size: 17px;
  }
  & span,
  & time {
    @apply font-medium text-gray-400;
    font-size: 15px;
  }
}

.chatDialogs {
  @apply h-full overflow-y-auto border-gray-500 border-r-2 border-solid;
  width: 300px;
  padding: 30px 10px;
}
.chatDialog {
  @apply relative flex items-center border-2 border-transparent border-solid cursor-pointer rounded-[10px];
  padding: 15px 20px;
  transition: background-color 0.25s;
  &:hover {
    background-color: $gray-500;
  }
}
.chatDialogActive {
  @apply border-primary-400;
}
.chatDialogIndicator {
  @apply absolute top-[10px] right-[5px] bg-secondary-400 rounded-full;
  width: 8px;
  height: 8px;
}
.chatDialogInfo {
  @apply flex flex-col;
  margin-left: 10px;
  & > div {
    @apply flex items-center justify-between;
    margin-bottom: 3px;
    & > b {
      @apply inline-block;
      max-width: 135px;
      margin-right: 12px;
    }
  }
  & > span {
    @apply inline-block;
    max-width: 185px;
  }
}

.chatHeader {
  @apply flex items-center justify-between border-b-2 border-solid border-gray-500;
  padding: 30px;
  & > div {
    & > div ~ b:last-child {
      @apply text-primary-400 font-bold;
    }
    & > b {
      @apply inline-block;
      margin-left: 10px;
    }
  }
}

.chatActions {
  @apply relative flex items-center border-2 border-solid border-gray-400 rounded-full;
  min-width: 80px;
  padding: 10px;
  & > button {
    @apply relative z-10;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    & > svg {
      width: 20px;
      height: 20px;
    }
  }
}

.chatActionsIndicator {
  @apply absolute -left-[1px] -top-[1px] bg-primary-400 w-[42px] h-[42px];
  border-radius: 50%;
  transition: transform 0.25s;
}

.chatRight {
  @apply flex flex-col h-full w-[650px];
}

.chatForm {
  @apply relative mt-auto;
  & > input {
    @apply bg-gray-500 w-full h-[70px] text-white-100;
    padding: 25px 75px 25px 40px;
    font-size: 17px;
    &::placeholder {
      @apply text-gray-400;
    }
  }
  & > button {
    @apply flex items-center absolute top-1/2 right-[40px];
    transform: translateY(-50%);
    transition: transform 0.25s;
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
}

.chatMessages {
  @apply flex-grow overflow-y-auto;
  padding: 0 30px 20px;
  &::-webkit-scrollbar-track {
    background-color: $gray-500;
  }
  &::-webkit-scrollbar {
    width: 2px;
  }
}

.chatMessagesDate {
  @apply flex items-center justify-center;
  margin-top: 20px;
  margin-bottom: 20px;
  & > time {
    @apply border-2 border-gray-400 rounded-full font-bold;
    padding: 6px 15px;
    min-width: 80px;
  }
}
.chatMessage {
  width: 50%;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
  & > div {
    &:first-child {
      @apply flex justify-between;
      margin: 0 10px 10px 10px;
      & > span {
        @apply font-medium text-gray-400;
        font-size: 15px;
      }
    }
  }
}
.chatMessageRight {
  margin-left: auto;
}
.chatMessageText {
  @apply bg-primary-400 text-white-100 font-medium;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
  line-height: 20px;
}
.chatMessageTextDark {
  @apply bg-gray-500;
}
.chatEmpty {
  @apply flex items-center justify-center w-full h-full;
  & > span {
    font-size: 17px;
  }
}
