@import "../../../assets/styles/_variables.scss";

.avatar {
  @apply bg-cover bg-center bg-no-repeat flex-shrink-0;
  border: 2px solid $gray-400;
  &_status {
    @apply relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $gray-400;
      box-shadow: 0 0 0 5px $black-300;
    }
    &.online::before {
      background-color: $green-200;
    }
  }
  &_bn {
    border: none;
  }
}
