@import "../../../assets/styles/_variables.scss";

// Home - Common
.list {
  @apply relative z-10;
  column-gap: 10px;
  orphans: 1;
  widows: 1;
}

.link {
  @apply hover:text-primary-400 dark:hover:text-secondary-400 cursor-pointer;
  transition: color 0.25s;
}

// Texts
.title {
  @apply absolute top-[90px] text-[240px] -translate-x-[10px] font-bold text-primary-400 text-opacity-20 dark:text-black-300 dark:text-opacity-100 lg:top-[50px] lg:translate-x-[10px] xxs:top-[45px];
  line-height: 288px;
  pointer-events: none;
  user-select: none;
  @media (max-width: $breakpoint1200) {
    @apply text-[150px];
    line-height: 180px;
  }
  @media (max-width: $breakpoint992) {
    @apply text-[75px];
    line-height: 90px;
  }
  @media (max-width: $breakpoint350) {
    @apply text-[50px];
    line-height: 70px;
  }
}

.section {
  @apply relative pb-[100px] pt-[330px] lg:pt-[200px] lg:pb-[50px] md:pt-[120px] xxs:pt-[100px];
}

// Home - Top
.top {
  @apply flex items-center pt-[100px] lg:pt-[30px] md:flex-col md:relative md:pb-[70px];
}
.topLeft {
  @apply mr-[85px] flex-grow lg:mr-[30px] md:mr-0;
  & > div:first-child {
    @apply relative z-[6];
    & > h1 {
      @apply text-black-400 text-[62px] font-bold dark:text-white-100 xl:text-[52px] lg:text-[40px] md:text-[30px];
      line-height: 130%;
      & > b {
        @apply text-primary-400 dark:text-secondary-400 font-extrabold;
      }
      & > br {
        @apply md:hidden;
      }
    }
    & > p {
      @apply mt-[30px] mb-[40px] text-gray-400 font-normal text-[20px] sm:text-[17px] md:mt-[20px] md:mb-0;
      line-height: 170%;
    }
  }
}
.topButtons {
  @apply relative z-[6] flex items-center md:absolute md:bottom-0 md:left-0 md:w-full md:justify-center md:px-[10px] xxs:flex-col xxs:z-[10];
  & > span {
    @apply inline-block mx-[20px] text-[20px] font-normal text-gray-400 md:mx-[10px] xxs:mx-auto xxs:my-[10px] sm:text-[17px];
  }
  & > button {
    @apply md:min-w-[145px] md:px-[35px] xxs:min-w-full;
  }
}
.topRight {
  @apply relative w-[510px] flex-shrink-0 lg:w-[450px] md:w-[340px];
  & > span {
    @apply relative z-[6];
  }
  &::before {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[480px] h-[480px] z-[5] rounded-full bg-primary-400 lg:w-[400px] lg:h-[400px] md:w-[300px] md:h-[300px] sm:w-[180px] sm:h-[180px];
    content: "";
    opacity: 0.8;
    filter: blur(150px);
  }
}

// Home - categories
.categoriesTitle {
  @apply -translate-x-[17px] lg:-translate-x-[12px] sm:translate-x-0;
}
.categoriesList {
  @apply columns-4 relative z-10;
  column-gap: 10px;
  @media (max-width: 1550px) {
    @apply columns-3 lg:columns-2 sm:columns-auto;
  }
}
.category {
  @apply inline-block mb-[10px] px-[40px] py-[30px] bg-white-200 dark:bg-black-300 w-full md:p-[20px];
  border-radius: 10px;
}
.categoryHeader {
  @apply flex items-center;
  & > a {
    @apply dark:text-white-100 md:mr-auto;
  }
}
.categoryImage {
  @apply w-[50px] h-[50px] bg-center bg-cover bg-no-repeat mr-[15px] flex-shrink-0;
}
.categoryList {
  @apply flex items-center flex-wrap md:hidden mt-[20px] md:mt-[15px] gap-y-[15px] gap-x-[20px];
  &_active {
    @apply flex;
  }
}
.categoryIcon {
  @apply hidden md:block md:ml-[10px];
  transition: transform 0.25s;
  &_active {
    @apply rotate-180;
  }
}
.categoryListItem {
  @apply flex items-center;
  min-width: calc(50% - 10px);
  & > div {
    @apply flex items-center;
    & > button {
      @apply ml-[10px] opacity-0;
      visibility: hidden;
      transition: opacity 0.5s;
    }
  }
  &_icon > div {
    &:hover > button {
      @apply opacity-100;
      visibility: visible;
    }
    @media (max-width: $breakpoint1200) {
      & > button {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &_liked > div > button {
    @apply opacity-100;
    visibility: visible;
  }
}

// Home - services
.services {
  @apply bg-white-200 dark:bg-black-500;
}
.servicesList {
  @apply columns-4;
  @media (max-width: 1700px) {
    @apply columns-3 xl:columns-2 sm:columns-auto;
  }
}
.serviceLeft > a {
  @apply dark:text-white-100;
}
.service {
  @apply inline-flex items-center justify-between py-[25px] px-[40px] bg-white-100 dark:bg-black-300 w-full mb-[10px] md:p-[20px] xxs:flex-col xxs:items-start;
  border-radius: 10px;
}
.serviceList {
  @apply mt-[20px] sm:mt-[15px] xxs:mb-[15px];
  & > li {
    @apply mb-[15px] last:mb-0;
    & > a {
      @apply hover:text-primary-400 dark:hover:text-secondary-400;
      transition: color 0.25s;
    }
  }
}
.serviceRight {
  & > img {
    @apply md:w-[70px] md:h-[70px];
  }
}

// Home - socials
.socials {
  @apply bg-white-100 dark:bg-black-400;
}
.socialsList {
  @apply columns-5;
  @media (max-width: 1700px) {
    @apply columns-3 md:columns-2 sm:columns-1;
  }
}
.social {
  @apply inline-block py-[30px] px-[40px] md:p-[20px] mb-[10px] bg-white-200 dark:bg-black-300 w-full;
  border-radius: 10px;
}
.socialHeader {
  @apply flex items-center mb-[20px] sm:mb-[10px];
  & > span {
    @apply flex-shrink-0;
  }
  & > a {
    @apply inline-block dark:text-white-100 ml-[15px];
  }
}
.socialList {
  @apply flex items-center flex-wrap gap-y-[15px] gap-x-[20px];
  & > li {
    min-width: calc(50% - 10px);
  }
}

// Home - advantages
.advantages {
  @apply pt-[185px] pb-[100px] lg:py-[135px] lg:pb-[50px];
}
.advantagesContent {
  @apply flex flex-wrap;
  row-gap: 135px;
  column-gap: 10px;
  @media (max-width: $breakpoint1200) {
    row-gap: 85px;
    & > div:nth-last-child(-n + 4) {
      display: none;
    }
  }
  &_opened > div:nth-last-child(-n + 4) {
    display: block;
  }
}
.advantage {
  @apply inline-block relative;
  width: calc(25% - 7.5px);
  & > b {
    @apply absolute top-0 left-0 text-[100px] text-primary-400 text-opacity-20 dark:text-black-300 -translate-y-[70%] dark:text-opacity-100 z-[1];
    line-height: 120px;
    user-select: none;
    pointer-events: none;
  }
  & > span {
    @apply relative inline-block mb-[15px] text-[24px] dark:text-white-100 z-[2];
  }
  & > p {
    @apply text-[17px] text-gray-400 font-normal;
    line-height: 170%;
  }
  @media (max-width: $breakpoint1450) {
    width: calc(33.3% - 6.6px);
    & > p > br {
      @apply hidden;
    }
  }
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 5px);
  }
  @media (max-width: $breakpoint768) {
    width: 100%;
  }
}
.advantagesMore {
  @apply w-full items-center hidden lg:flex justify-center mt-[20px];
  & > svg {
    @apply ml-[10px];
    & > path {
      @apply stroke-primary-400;
    }
    transition: transform 0.25s;
  }
  &_opened > svg {
    @apply rotate-180;
  }
}

// Home - About
.about {
  @apply bg-white-200 dark:bg-black-500 pt-[100px] lg:pt-[50px] pb-[175px] lg:pb-[110px] xs:pb-[50px];
  & > div {
    @apply text-center;
  }
}
.aboutTitle {
  @apply text-[240px] font-bold text-primary-400 text-opacity-20 dark:text-black-300 dark:text-opacity-100;
  line-height: 288px;
  user-select: none;
  pointer-events: none;
  @media (max-width: $breakpoint1450) {
    font-size: 150px;
    line-height: 190px;
  }
  @media (max-width: $breakpoint992) {
    @apply mb-[20px];
    font-size: 75px;
    line-height: 90px;
  }
}
.aboutText {
  line-height: 170%;
}
.aboutList {
  @apply flex justify-center items-center my-[50px] lg:flex-wrap lg:my-[30px] sm:mb-0;
  column-gap: 40px;
  @media (max-width: $breakpoint1200) {
    column-gap: 20px;
    row-gap: 30px;
    & > div {
      width: calc(50% - 10px);
    }
  }
  @media (max-width: $breakpoint992) {
    & > div {
      width: 100%;
    }
  }
  & > div {
    & > b {
      @apply inline-block mb-[15px] text-[24px] dark:text-white-100;
      line-height: 29px;
    }
    & > p {
      @apply text-[17px] font-normal text-gray-400 text-center;
      line-height: 170%;
      @media (max-width: 1500px) {
        & > br {
          display: none;
        }
      }
    }
  }
}
.aboutBottomText {
  @apply sm:hidden;
}

// Home - Chat
.chat {
  @apply bg-white-200 dark:bg-black-500;
}
