$black-300: #1e2127;
$black-400: #181a20;
$black-500: #14161b;

$gray-400: #616d85;

$white-100: #ffffff;
$white-200: #f5f6ff;

/* purple */
$primary-300: #8f95eb;
$primary-400: #7f86e8;
$primary-500: #5962e1;

/* yellow */
$secondary-300: #ffe06e;
$secondary-400: #ffdb59;
$secondary-500: #ffd22e;

$red-100: #f40000;
$green-100: #2e7d32;
$orange-100: #ed6c02;
$blue-100: #7294c7;
$blue-200: #2f89ce;

$inner-container: 1310px;
