@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_fonts.scss";
@import "./_normalize.scss";
@import "./_variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  color: $black-400;
}

*,
*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.page {
  padding-top: 122px;
  @media (max-width: $breakpoint1450) {
    padding-top: 97px;
  }
  @media (max-width: $breakpoint1200) {
    padding-top: 86px;
  }
}

.page_preview {
  padding-top: 230px;
  @media (max-width: $breakpoint1200) {
    padding-top: 130px;
  }
  @media (max-width: $breakpoint350) {
    padding-top: 150px;
  }
}

.page_content {
  @apply mb-44 sm:mb-28;
  @media (max-width: $breakpoint350) {
    margin-bottom: 50px;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgb(24, 26, 32, 0.6), darken($black-500, 2%));
  z-index: 10;
}

.container {
  max-width: ($container + $containerPadding) + px;
  @media (max-width: $breakpoint1450) {
    max-width: 1300px;
  }
}

.inner-container {
  max-width: ($inner-container + $containerPadding) + px;
  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }
}

.container,
.inner-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $containerSideSpacing + px;
  padding-right: $containerSideSpacing + px;
  @media (max-width: $breakpoint992) {
    max-width: 920px;
  }
  @media (max-width: $breakpoint768) {
    max-width: 740px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

.blur {
  height: 100vh;
  position: fixed;
  left: 0;
  right: -100%;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 40;
  display: none;
}

.blur_active {
  display: block;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.custom_scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: $black-300;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-400;
    border-radius: 10px;
  }
}

.avatar {
  @apply relative bg-cover bg-center bg-no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $gray-400;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $gray-400;
    box-shadow: 0 0 0 5px $black-300;
  }
  &.online::before {
    background-color: $green-100;
  }
}
