@import "../../assets/styles/_variables.scss";

// Footer
.footer {
  @apply bg-white-200 pb-[100px] dark:bg-black-500 lg:pb-[20px];
  &_light {
    @apply bg-white-100 dark:bg-black-300;
  }
}

.footerContainer {
  @apply relative pt-[175px] xl:pt-[120px] sm:pt-[90px] xs:pt-[20px];
}

// Footer - Top
.footerTop {
  @apply absolute top-0 left-0 right-0 bg-white-200 dark:bg-black-500 p-[50px] border-2 border-solid border-white-100 dark:border-black-400 -translate-y-1/2 xl:left-[20px] xl:right-[20px] lg:p-[20px] xs:static xs:translate-y-0 xs:border-none xs:p-0 xs:mb-[30px];
  border-radius: 10px;
  &_light {
    @apply bg-white-100 dark:bg-black-300 dark:border-black-500;
  }
  & > ul {
    @apply flex items-center justify-between w-[70%] mx-auto sm:w-full sm:justify-center;
    & > li {
      @apply sm:mr-[15px] sm:last:mr-0;
      & > a {
        @apply flex items-center lg:flex-col;
        & > b {
          @apply inline-block ml-[20px] lg:ml-0 lg:mt-[8px] md:text-[20px];
          transition: color 0.25s;
        }
        & img {
          @media (max-width: $breakpoint480) {
            max-width: 30px;
            max-height: 30px;
          }
        }
      }
    }
  }
}

.footerSocial {
  &_red > a > b {
    @apply text-red-100;
    &:hover {
      color: lighten($red-100, 10);
    }
  }
  &_blue > a > b {
    @apply text-blue-200;
    &:hover {
      color: lighten($blue-200, 10);
    }
  }
  &_dark-blue > a > b {
    @apply text-blue-100;
    &:hover {
      color: lighten($blue-100, 10);
    }
  }
}

// Footer - Content
.footerContent {
  @apply flex items-center justify-between xl:flex-col;
}

.footerLogo {
  @apply inline-block mb-[15px] flex-shrink-0 xl:mb-0;
}

// Footer - Statistics
.footerStatistics {
  @apply flex items-center mx-[70px] mb-[15px] xl:my-[30px] xl:mx-0;
  & > li {
    @apply mr-[50px] last:mr-0 lg:text-center sm:mr-[30px] xs:mr-[10px];
    & > b {
      @apply block text-[28px] mb-[5px] sm:text-[24px] xs:text-[20px];
    }
  }
}

// Footer - list
.footerList {
  @apply flex-grow flex items-center justify-between flex-wrap sm:hidden;
  & > li {
    @apply w-1/4 mb-[15px] xl:text-center;
    & > a {
      @apply hover:text-secondary-400;
      transition: color 0.25s;
    }
  }
}

// Footer - bottom
.footerBottom {
  @apply flex items-center justify-between w-[90%] mx-auto mt-[45px] lg:mt-[30px] sm:mt-0 lg:flex-col-reverse sm:text-center;
}

.footerTexts {
  @apply flex items-center lg:mb-[30px] sm:flex-col;
  & > a {
    @apply first:inline-block first:mr-[35px] hover:text-secondary-400 sm:first:mr-0 sm:first:mb-[15px];
    transition: color 0.25s;
  }
}
