@import "../../assets/styles/_variables.scss";

.footer {
  @apply bg-white-200 dark:bg-black-500;
  & a {
    @apply font-medium text-gray-400 hover:text-secondary-400;
    transition: color 0.25s;
  }
}

.footerContainer {
  @apply relative;
  padding-top: 175px;
  padding-bottom: 100px;
  @media (max-width: $breakpoint992) {
    padding-top: 89px;
    padding-bottom: 20px;
  }
}

.footerLogo {
  @media (max-width: $breakpoint1450) {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 20px;
  }
  @media (max-width: $breakpoint992) {
    text-align: center;
  }
}

.footerMain {
  @apply flex items-center justify-between;
  @media (max-width: $breakpoint1450) {
    flex-wrap: wrap;
  }
  @media (max-width: $breakpoint992) {
    justify-content: center;
  }
}

.footerInfo {
  @apply flex items-center;
  margin: 0 70px;
  & li {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    & b {
      @apply block font-bold text-primary-400 mb-1;
      font-size: 28px;
    }
    & span {
      @apply font-medium text-gray-400;
      font-size: 17px;
    }
  }
  @media (max-width: $breakpoint1450) {
    width: 35%;
    margin-left: 0;
    margin-right: 30px;
    & li {
      margin-right: 20px;
      & b {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint992) {
    width: 100%;
    justify-content: center;
    & li {
      text-align: center;
    }
  }
}

.footerNav {
  @apply flex items-center flex-wrap;
  & li {
    width: 25%;
    margin-bottom: 18px;
    a {
      transition: color 0.25s;
      font-size: 18px;
    }
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
  @media (max-width: $breakpoint1450) {
    width: 60%;
  }
  @media (max-width: $breakpoint992) {
    display: none;
  }
}

.footerBottom {
  @apply flex items-center justify-between;
  margin-top: 50px;
  & a,
  & span {
    @apply text-gray-400 font-medium;
    font-size: 16px;
  }
  @media (max-width: $breakpoint1200) {
    & div {
      @apply flex flex-col items-center;
      & a:first-child {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }
  @media (max-width: $breakpoint992) {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    & span {
      order: 2;
      text-align: center;
    }
    & div {
      @apply order-1;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.footerTop {
  @apply absolute top-0 w-full flex items-center justify-center bg-white-200 dark:bg-black-500 dark:border-black-400;
  border: 2px solid $white-100;
  border-radius: 10px;
  min-height: 150px;
  padding: 56px 0;
  left: 50%;
  transform: translate(-50%, -50%);
  & a {
    margin-right: 120px;
    &:last-child {
      margin-right: 0;
    }
  }
  & b {
    @apply inline-block font-bold;
    font-size: 32px;
    margin-left: 20px;
  }
  @media (max-width: $breakpoint1200) {
    width: calc(100% - 40px);
    padding: 20px;
    left: 20px;
    transform: translate(0, -50%);
  }
  @media (max-width: $breakpoint992) {
    & b {
      font-size: 24px;
    }
    & a {
      margin-right: 60px;
    }
  }
  @media (max-width: $breakpoint768) {
    & a {
      flex-direction: column;
      margin-right: 15px;
    }
    & b {
      margin-top: 5px;
      margin-left: 0;
      font-size: 20px;
    }
  }
}
