@import "../../../assets/styles/_variables.scss";

.modal {
  @apply py-[50px];
}
.top {
  @apply mt-[20px];
}
.form {
  @apply w-[980px] max-w-[980px] lg:w-full;
}
// Selects
.selects {
  @apply flex items-center flex-wrap lg:justify-between;
  // Select wrapper
  & > div {
    @apply mb-[20px] mr-[10px] lg:mr-0;
    width: calc(33.3% - 6.6px);
    &:nth-child(3n) {
      @apply mr-0;
    }
    // Select
    & > div {
      @apply w-full;
    }
    @media (max-width: $breakpoint1200) {
      width: calc(50% - 5px);
    }
    @media (max-width: $breakpoint768) {
      width: 100%;
    }
  }
}
//Textarea
.textarea {
  @apply block w-full min-h-[100px] resize-none bg-black-300 py-[20px] px-[25px] font-medium text-[17px] placeholder:text-gray-400 text-white-100;
  line-height: 20px;
  border-radius: 10px;
  &_large {
    @apply min-h-[200px] mb-[20px] mt-[20px];
  }
  &_error {
    border: 1px solid $red-100;
  }
}
// Inputs
.inputs {
  @apply flex items-center justify-between lg:flex-wrap sm:flex-col;
  & > button {
    @apply lg:w-full;
  }
}
.input {
  @apply lg:mb-[20px];
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 5px);
  }
  @media (max-width: $breakpoint768) {
    width: 100%;
  }
}
//Radio
.radioWrapper {
  @apply flex items-center justify-center mb-[20px];
}
.radio {
  @apply p-2 flex items-center justify-between relative ml-[20px] rounded-full min-h-[40px] min-w-[80px] cursor-pointer;
  border: 2px solid $gray-400;
  & > span {
    @apply relative text-white-100 z-10;
  }
}
.radioIndicator {
  @apply absolute -left-[5px] -top-[2px] w-[45px] h-[40px] bg-primary-400 rounded-full;
  transition: transform 0.25s;
  box-shadow: 0px 10px 20px rgba(127, 134, 232, 0.25);
}
