@import "../../../assets/styles/_variables.scss";

.top {
  @apply pb-[50px] lg:pb-[180px] sm:pb-[255px] xxs:pb-[320px];
}
.topLeft {
  @apply w-1/2 mr-[50px] lg:w-full lg:mr-0 flex-shrink;
}
.topInfo {
  @apply flex items-center flex-wrap;
  margin-bottom: 20px;
  & > div {
    margin-right: 40px;
    & > span {
      @apply block text-lg font-medium text-gray-400;
      margin-bottom: 2px;
    }
    & > b {
      @apply text-white-100 text-lg font-bold;
    }
  }
}
.topActions {
  @apply flex items-center flex-wrap mt-[30px];
  & > div:nth-child(3) {
    margin: 0 20px;
  }
  @media (max-width: $breakpoint1450) {
    & > button {
      @apply mt-[10px];
    }
  }
  @media (max-width: $breakpoint1200) {
    width: fit-content;
    position: absolute;
    bottom: -150px;
    left: 20px;
    & > button {
      @apply mt-0;
    }
  }
  @media (max-width: $breakpoint768) {
    @apply justify-start left-[10px];
    width: calc(100% - 20px);
    bottom: -225px;
    & > div:nth-child(3) {
      width: 100%;
      margin: 20px 0 0 0;
    }
    & > button {
      min-width: 100%;
      margin-top: 20px;
    }
  }
  @media (max-width: $breakpoint350) {
    bottom: -290px;
  }
}
.topContent {
  @apply relative z-10 flex items-center lg:flex-col;
}
.topPrice {
  @apply w-full inline-block mb-[25px] text-gray-400 font-bold sm:w-auto sm:mb-0 sm:mr-[20px] xxs:w-full xxs:mb-[20px];
  font-size: 32px;
}
.chat {
  @apply lg:mt-[30px];
}
