@import "../../assets/styles/variables";

.modal {
  @apply w-screen min-h-screen relative flex items-center justify-center bg-black-400;
  @media (max-width: $breakpoint768) {
    padding: 70px 10px;
    & form {
      @apply flex flex-col items-center min-w-full;
      & > div {
        @apply w-full;
      }
      & > button {
        @apply w-full;
      }
    }
  }
}

.modalClose {
  @apply flex items-center justify-center absolute bg-black-300 cursor-pointer;
  width: 70px;
  height: 70px;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
  & svg {
    transition: transform 0.3s;
    path {
      transition: fill 0.3s;
    }
  }
  &:hover {
    background-color: lighten($black-300, 5%);
    & svg {
      transform: scale(1.1);
      path {
        fill: #ffffff;
      }
    }
  }
  @media (max-width: $breakpoint768) {
    transform: scale(0.7);
  }
}

.modalTop {
  @apply flex items-end xs:flex-col xs:items-center;
  margin-bottom: 50px;
  & h1 {
    @apply font-bold text-white-100 text-[52px] sm:text-[30px] xs:mr-0 xs:ml-0 xs:mb-[10px];
    line-height: 57px;
    @media (max-width: $breakpoint768) {
      line-height: 1.1;
    }
  }
  a {
    @apply text-primary-400 font-bold text-[32px] sm:text-[24px];
    & h3 {
      transition: color 0.25s;
      &:hover {
        color: darken($primary-400, 5);
      }
    }
  }
}

.authButton {
  margin-top: 30px;
}

.registerInputs {
  @apply flex justify-between flex-wrap w-[650px] sm:flex-col sm:items-center sm:w-full;
  & > div {
    @apply mb-[10px];
  }
  @media (max-width: $breakpoint768) {
    & > div {
      @apply w-full;
    }
    & > button {
      @apply w-full;
    }
  }
}

.checkbox {
  margin-top: 30px;
  & input {
    width: 0;
    height: 0;
    overflow: none;
    display: none;
  }
  & input:checked ~ label::before {
    color: $white-100;
  }
  & label {
    @apply w-[550px] block font-medium cursor-pointer relative pl-[34px] text-gray-400 text-[17px] sm:w-auto;
    & > a {
      @apply text-primary-400 hover:underline;
    }
    &::before {
      content: "\2713";
      @apply absolute w-6 h-6 left-0 flex items-center justify-center;
      top: calc(50% - 12.5px);
      border: 2px solid #ffffff;
      border-radius: 5px;
      color: transparent;
      transition: color 0.15s;
    }
  }
}

.checkboxError label::before {
  border-color: $red-100;
}
