@import "../../../../assets/styles/_variables.scss";

.name {
  @apply mb-[20px];
}

.item {
  @apply mb-[40px] sm:mb-[30px];
  & > form {
    @apply flex items-center flex-wrap;
    & > input {
      @apply mr-[10px];
      @media (max-width: $breakpoint1200) {
        width: calc(50% - 5px);
      }
      @media (max-width: $breakpoint768) {
        @apply w-full mb-[10px] mr-0;
      }
    }
  }
  &_password > form {
    @apply lg:justify-between;
    @media (max-width: $breakpoint1450) {
      & > button {
        @apply mt-[10px];
      }
    }
    @media (max-width: $breakpoint1200) {
      & > input {
        @apply mr-0;
        &:nth-child(3) {
          @apply mt-[10px] sm:mt-0;
        }
      }
    }
  }
}

.button {
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 5px);
  }
}

.code {
  @apply w-fit text-center border-2 border-secondary-400 py-[20px] px-[40px] mt-[30px] sm:w-full sm:px-[10px];
  border-radius: 10px;
  & > span {
    @apply inline-block text-secondary-400 font-bold text-2xl mr-[15px] last:mr-0 sm:text-[18px] sm:mr-[10px];
  }
}
