@import "../../../assets/styles/variables.scss";

.wrapper {
  @apply w-[320px];
  &_sm {
    @apply w-[270px];
  }
}

.icon {
  @apply absolute top-1/2 -translate-y-1/2 right-[25px];
  &_button {
    @apply right-[11px] shadow-none;
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
}

.input {
  @apply w-full py-[20px] px-[25px] text-[17px] font-medium bg-black-300 text-white-100 placeholder:text-gray-400;
  border-radius: 50px;
  &_pass {
    @apply pr-[50px];
  }
  &_error {
    border: 1px solid $red-100;
  }
}

.passwordIcon {
  @apply absolute top-1/2 right-[15px] -translate-y-[47%] cursor-pointer;
  & > svg {
    @apply w-[25px] h-[25px] fill-primary-400;
  }
}
