@import "../../../assets/styles/_variables.scss";

.checkbox {
  @apply flex items-center dark:text-white-100 font-medium cursor-pointer flex-shrink-0;
  font-size: 17px;
  & input {
    display: none;
  }
  & input:checked ~ div::before {
    opacity: 1;
  }
  & div {
    @apply flex items-center justify-center border-2 border-solid border-secondary-400 dark:border-white-100;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    margin-right: 10px;
    &::before {
      @apply dark:text-white-100 font-medium;
      content: "\2713";
      display: block;
      font-size: 17px;
      opacity: 0;
    }
  }
}
