@import "../../../assets/styles/_variables.scss";

.checkbox {
  @apply flex items-center cursor-pointer flex-shrink-0;
  font-size: 17px;
  & input {
    display: none;
  }
  & input:checked ~ div::before {
    opacity: 1;
  }
  // Arrow
  & > div {
    @apply w-[24px] h-[24px] flex items-center justify-center flex-shrink-0 border-2 border-solid border-white-100 mr-[10px];
    border-radius: 5px;
    &::before {
      @apply block text-white-100 font-medium text-[17px] opacity-0;
      content: "\2713";
    }
  }
  & > span {
    @apply text-white-100 font-medium text-[17px];
    & > a {
      @apply text-primary-400 hover:underline;
    }
  }
  &_error > div {
    border-color: $red-100;
  }
  &_light {
    & > div {
      @apply border-secondary-400 dark:border-white-100 lg:border-white-100;
      &::before {
        @apply text-black-400 dark:text-white-100 lg:text-white-100;
      }
    }
    & > span {
      @apply text-black-400 dark:text-white-100 lg:text-white-100;
    }
  }
  &_gray > span {
    @apply text-gray-400;
  }
}
