@import "./../../assets/styles/_variables.scss";

.alert {
  @apply absolute p-3 right-0 text-white-100 bg-red-100 rounded-md text-base;
  min-width: 150px;
  top: 100px;
  transform: translateX(100%) scale(0.5);
  transition: transform 0.25s;
  z-index: 100;
  visibility: hidden;
}
.alertActive {
  transform: translateX(-10px) scale(1);
  visibility: visible;
}
.alertSuccess {
  background-color: $green-100;
}
.alertWarning {
  background-color: $orange-100;
}
