@import "../../../assets/styles/_variables.scss";

.filters {
  @apply flex items-center justify-between rounded-full bg-black-300;
  min-height: 100px;
  padding: 25px;
  margin-top: 50px;
  & button {
    min-width: 220px;
  }
}
.filtersInput {
  @apply relative;
  max-width: 270px;
  margin-right: 10px;
  & input {
    @apply bg-black-400;
    max-width: 270px;
    padding: 15px 25px;
    min-height: 50px;
  }
  & svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
.filterText {
  @apply flex items-center text-white-100 font-medium cursor-pointer;
  font-size: 17px;
  transition: color 0.25s;
  margin-right: 10px;
  & svg {
    margin-right: 10px;
    & path {
      transition: fill 0.25s;
    }
  }
  &:hover {
    @apply text-secondary-400;
    & svg path {
      @apply fill-secondary-400;
    }
  }
}
.filterSelect {
  margin-right: 10px;
}
.filterIcons {
  @apply flex items-center;
  margin: 0 10px;
  & svg:first-child {
    margin-right: 20px;
  }
  & svg {
    cursor: pointer;
    & rect {
      transition: stroke 0.25s;
    }
    &:hover rect {
      @apply stroke-primary-400;
    }
  }
}
.items {
  @apply flex items-center;
}
