@import "../../../assets/styles/_variables.scss";

.filters {
  @apply flex items-center justify-between bg-white-200 dark:bg-black-300;
  min-height: 100px;
  padding: 25px;
  margin-top: 50px;
  border-radius: 10px;
  @media (max-width: $breakpoint480) {
    padding: 0;
    min-height: 0;
    background-color: transparent !important;
  }
}
.filterBtn {
  min-width: 220px;
  @media (max-width: $breakpoint480) {
    margin-bottom: 10px;
  }
}
.filtersLeft {
  @media (max-width: $breakpoint1200) {
    @apply fixed top-0 bottom-0 left-0 bg-black-300 w-fit h-screen;
    z-index: 999;
    padding: 30px 10px;
    transform: translateX(-100%);
    & > div {
      &:first-child {
        margin-bottom: 20px;
        & h3 {
          @apply text-white-100 font-bold;
          font-size: 30px;
          margin-left: 10px;
        }
        & div {
          transform: rotate(90deg);
        }
      }
      &:nth-child(3) {
        margin-left: 25px;
      }
    }
  }
}
.filtersLeftActive {
  animation: transform 0.25s forwards;
}
.filtersInputs {
  @apply flex items-center flex-wrap lg:flex-col;
  margin-bottom: 5px;
  @media (max-width: $breakpoint1200) {
    margin-bottom: 10px;
  }
}
.filterIcon {
  @apply hidden lg:flex;
  min-width: 112px;
  margin-right: 10px;
  & svg path {
    transition: stroke 0.25s;
  }
  &:hover svg path {
    stroke: $white-100;
  }
  @media (max-width: $breakpoint480) {
    margin-bottom: 10px;
  }
}
.filtersInput {
  @apply relative flex-shrink;
  width: 270px;
  margin-right: 10px;
  margin-bottom: 10px;
  & input {
    @apply bg-black-400;
    width: 100%;
    padding: 15px 50px 15px 25px;
    min-height: 50px;
  }
  & svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  @media (max-width: $breakpoint1200) {
    margin-right: 0;
  }
}
.filterText {
  @apply flex items-center text-white-100 font-medium cursor-pointer flex-shrink-0;
  font-size: 17px;
  transition: color 0.25s;
  margin-right: 20px;
  & svg {
    margin-right: 10px;
    & path {
      transition: fill 0.25s;
    }
  }
  &:hover {
    @apply text-secondary-400;
    & svg path {
      @apply fill-secondary-400;
    }
  }
  @media (max-width: $breakpoint1200) {
    margin-bottom: 20px;
  }
}
.filterSelect {
  margin-right: 10px;
  margin-bottom: 10px;
  @media (max-width: $breakpoint1200) {
    margin-right: 0;
  }
}
.filterIcons {
  @apply flex items-center lg:hidden;
  margin-right: 40px;
  & svg:first-child {
    margin-right: 20px;
  }
  & svg {
    cursor: pointer;
    & rect {
      transition: stroke 0.25s;
    }
    &:hover rect {
      @apply stroke-primary-400;
    }
  }
}
.offers {
  @apply flex flex-wrap;
  margin-top: 50px;
  @media (max-width: $breakpoint1200) {
    margin-top: 10px;
  }
}
.offer {
  @apply relative flex flex-col bg-white-200 dark:bg-black-300;
  width: calc(25% - 7.5px);
  padding: 30px 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  &:nth-child(4n) {
    margin-right: 0;
  }
  & svg {
    transition: transform 0.25s;
    &:active {
      transform: scale(0.9);
    }
  }
  & b {
    @apply block font-medium text-lg text-gray-400;
  }
  & span {
    @apply block dark:text-white-100 text-2xl font-bold;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  @media (max-width: $breakpoint1450) {
    width: calc(33.3% - 7.5px);
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(4n) {
      margin-right: 10px;
    }
  }
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 7.5px);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 10px;
    }
    & span {
      font-size: 20px;
    }
  }
  @media (max-width: $breakpoint768) {
    width: 100%;
    margin-right: 0 !important;
    & b {
      font-size: 17px;
    }
  }
}
.offerInfo {
  @apply w-full flex flex-col items-center justify-center absolute top-0 left-0 right-0 bottom-0 bg-primary-400 z-30 bg-opacity-70;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: opacity 0.25s;
  & b {
    @apply inline-block text-white-100 font-bold text-2xl;
    margin-bottom: 30px;
  }
  & div {
    transition: transform 0.5s;
    transform: scale(0.8) rotate(45deg);
  }
}
.offerInfoActive {
  opacity: 1;
  visibility: visible;
  & div {
    transform: scale(1) rotate(0);
  }
}
.offerL {
  @apply w-full flex-row justify-between items-center;
  margin-right: 0;
  padding: 30px 112px 30px 60px;
  & span {
    margin-top: 10px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  & > div {
    flex-shrink: 1;
    &:nth-child(2) {
      width: 20%;
      & svg {
        position: absolute;
        top: 50%;
        right: 60px;
        transform: translateY(-50%);
        &:active {
          transform: translateY(-50%) scale(0.9);
        }
      }
    }
    &:nth-child(3) {
      width: 40%;
    }
    &:last-child {
      width: 20%;
      & b {
        margin-right: 50px;
      }
    }
  }
}
.offerSeller {
  @apply mt-auto;
  margin-bottom: 25px;
  & > b {
    margin-bottom: 10px;
  }
  & > div {
    & b {
      @apply hover:text-secondary-400 cursor-pointer;
      color: $primary-400;
      font-weight: 700;
      transition: color 0.25s;
    }
  }
  & span {
    @apply inline-block text-white-100 font-medium cursor-pointer hover:text-primary-400;
    font-size: 17px;
    margin: 0 10px;
    transition: color 0.25s;
  }
}
.offerSellerL {
  width: 15%;
}
.offerFooter {
  @apply flex items-center justify-between;
  & b {
    @apply font-bold text-gray-400;
    font-size: 32px;
  }
  & > div {
    @apply flex items-center justify-center bg-black-400 cursor-pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  @media (max-width: $breakpoint768) {
    & b {
      font-size: 24px;
    }
  }
}
.more {
  @apply flex flex-col items-center justify-center bg-white-200 dark:bg-black-300 cursor-pointer;
  width: calc(25% - 10px);
  border-radius: 10px;
  margin-bottom: 10px;
  min-height: 300px;
  & svg {
    transition: transform 0.5s;
  }
  & span {
    @apply inline-block dark:text-white-100 font-bold text-2xl;
    margin: 15px 0;
  }
  & b {
    @apply text-primary-400 font-bold;
    font-size: 32px;
  }
  &:hover {
    & svg {
      transform: rotate(250deg);
    }
  }
  @media (max-width: $breakpoint1450) {
    width: calc(33.3% - 7.5px);
  }
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 7.5px);
    min-height: 150px;
    padding: 20px;
  }
  @media (max-width: $breakpoint768) {
    width: 100%;
    & span {
      font-size: 20px;
    }
    & b {
      font-size: 24px;
    }
  }
}
.moreL {
  @apply w-full flex-row;
  min-height: 100px;
  & span {
    margin: 0 15px;
  }
}
