@import "../../../assets/styles/_variables.scss";

// Buttons
.buttons {
  @apply mt-[40px] pb-[30px] md:mt-[30px] md:pb-0;
}

// Filter
.filter {
  @apply mt-[50px];
}

// Offers
.offers {
  @apply flex flex-wrap mt-[50px] md:mt-[20px];
}
.more {
  @apply flex flex-col items-center justify-center bg-white-200 dark:bg-black-300 cursor-pointer;
  width: calc(25% - 7.5px);
  border-radius: 10px;
  margin-bottom: 10px;
  min-height: 300px;
  & svg {
    transition: transform 0.5s;
  }
  & span {
    @apply inline-block dark:text-white-100 font-bold text-2xl;
    margin: 15px 0;
  }
  & b {
    @apply text-primary-400 font-bold;
    font-size: 32px;
  }
  &:hover {
    & svg {
      transform: rotate(250deg);
    }
  }
  @media (max-width: $breakpoint1450) {
    width: calc(33.3% - 6.6px);
  }
  @media (max-width: $breakpoint1200) {
    width: calc(50% - 5px);
    min-height: 150px;
    padding: 20px;
    & > span {
      font-size: 20px;
      margin: 10px 0;
    }
    & > b {
      font-size: 24px;
    }
  }
  @media (max-width: $breakpoint768) {
    width: 100%;
    & span {
      font-size: 20px;
    }
    & b {
      font-size: 24px;
    }
  }
}
.moreL {
  @apply w-full flex-row;
  min-height: 100px;
  margin-bottom: 0;
  & span {
    margin: 0 15px;
  }
}
.offer {
  @apply flex flex-col bg-white-200 dark:bg-black-300;
  width: calc(25% - 7.5px);
  border-radius: 10px;
  padding: 30px 40px;
  margin-bottom: 10px;
  transition: background-color 0.25s;
  &L {
    @apply w-full flex-row justify-between;
    padding: 30px;
    & > div {
      padding-right: 50px;
      height: 100%;
    }
  }
  &C {
    margin-right: 10px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    @media (max-width: $breakpoint1450) {
      width: calc(33.3% - 6.6px);
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(4n) {
        margin-right: 10px;
      }
    }
    @media (max-width: $breakpoint1200) {
      width: calc(50% - 5px);
      padding: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 10px;
      }
    }
    @media (max-width: $breakpoint768) {
      width: 100%;
      margin-right: 0 !important;
    }
  }
  &:hover {
    @apply bg-light dark:bg-dark;
  }
}
.offerQuantityL {
  flex-shrink: 0;
  order: 4;
}
.offerTitle {
  @apply inline-block font-bold text-2xl md:text-xl dark:text-white-100;
  margin-bottom: 25px;
  &L {
    margin-bottom: 0;
  }
}
.offerText {
  @apply block text-gray-400 font-medium text-lg;
  margin-bottom: 10px;
}
.offerSeller {
  margin-top: auto;
  margin-bottom: 25px;
  &L {
    width: 250px;
    order: 3;
    margin-bottom: 0;
  }
}
.offerSellerContent {
  @apply flex items-center;
}
.offerSellerInfo {
  @apply flex flex-row xxs:flex-col;
  width: 70%;
  margin-left: 10px;
  & > a:first-child {
    @apply inline-block font-medium dark:text-white-100 xxs:mb-[5px];
    font-size: 17px;
    transition: color 0.25s;
    margin-right: 10px;
    &:hover {
      @apply text-primary-400;
    }
  }
  & > a:last-child {
    @apply text-primary-400 font-bold;
    font-size: 17px;
    transition: color 0.25s;
    &:hover {
      @apply text-secondary-400;
    }
  }
  &L {
    @apply flex-col;
    & > a:first-child {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}
.offerPrice {
  @apply text-gray-400 text-[32px] font-bold order-5 md:text-[24px];
  &L {
    @apply inline-block flex-shrink-0 text-right;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
  }
}
.offerServerL {
  flex-shrink: 0;
}
