@import "../../../assets/styles/_variables.scss";

.preview {
  @apply mb-[30px] pb-[90px] lg:pb-0 lg:mb-[50px];
  background-position-y: -50%;
  & > div {
    @apply mb-0;
  }
}

.wrapper {
  @apply flex items-start justify-between lg:flex-col;
}

.left {
  @apply w-1/2 mr-[10px] lg:w-full lg:mb-[50px];
}

.buttons {
  @apply flex items-center pb-[50px] sm:overflow-x-auto sm:pb-[30px] sm:px-[10px] sm:-mx-[10px];
  & > button:first-child {
    margin-right: 20px;
  }
}

.title {
  @apply text-black-400 dark:text-white-100 font-bold text-[52px] md:mb-[20px] md:text-[45px]
  xs:text-[30px] mb-[30px] sm:mb-[20px];
}

// offers tab
.offersButtons {
  @apply flex items-center flex-wrap md:overflow-x-auto md:flex-nowrap;
  & > button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.offersFilters {
  @apply border-2 border-primary-400 relative flex items-center justify-between p-[10px] rounded-full bg-white-200 dark:bg-black-300 mb-[40px] dark:border-none;
  @media (max-width: $breakpoint768) {
    @apply flex-col justify-start items-start fixed top-0 bottom-0 left-0 bg-black-300 w-fit h-screen rounded-none border-none;
    z-index: 999;
    padding: 30px 10px;
    transform: translateX(-100%);
    transition: transform 0.25s;
    &Active {
      transform: translateX(0);
    }
  }
}

.offersSearch {
  @apply mr-[10px] sm:mr-[0] sm:w-full sm:mb-[10px];
  & > button {
    @apply flex items-center justify-center w-[50px] h-[50px] rounded-full bg-black-400 sm:hidden;
  }
}

.offersInput {
  @apply absolute top-0 right-0 left-0 bottom-0 bg-black-300 text-gray-400 placeholder:text-gray-400 font-medium text-[17px] rounded-full opacity-0 z-20;
  padding: 15px 25px;
  visibility: hidden;
  transition: opacity 0.25s;
  &Active {
    @apply opacity-100;
    visibility: visible;
  }
  @media (max-width: $breakpoint768) {
    @apply w-full bg-black-400;
    position: static;
    visibility: visible;
    opacity: 1;
  }
}

.offersButton {
  @apply hidden sm:flex sm:w-full sm:text-white-100;
  & > svg {
    margin-right: 15px;
  }
}

.itemTitle {
  @apply text-[32px] dark:text-white-100 font-bold mb-[20px] mt-[40px] sm:mt-[30px] sm:text-[24px] sm:mb-[15px];
}

.item {
  @apply bg-white-200 mb-[10px] dark:bg-black-300;
  padding: 20px 30px;
  border-radius: 10px;
}

.itemList {
  @apply flex items-start mb-[20px] sm:flex-col;
  & > div {
    @apply first:mr-[30px] sm:first:mr-0 sm:mb-[20px] sm:last:mb-0;
  }
}

.itemText {
  @apply text-[18px] font-medium text-gray-400;
  &_white {
    @apply inline-block dark:text-white-100 font-bold mt-[10px];
  }
}

.itemPrice {
  @apply text-gray-400 font-bold text-[32px] sm:text-[24px];
  & > span {
    color: inherit;
    font-weight: inherit;
  }
}

.itemFooter {
  @apply flex items-center justify-between sm:flex-wrap;
}

.itemIcons {
  @apply flex items-center xxs:w-full xxs:mt-[15px];
  & > button {
    @apply first:mr-[15px];
    transition: transform 0.25s;
    &:active {
      transform: scale(0.9);
    }
  }
}

.select {
  @apply mr-[10px] w-[190px] lg:flex-grow sm:flex-grow-0 sm:mb-[10px] sm:w-[270px] sm:mr-0;
}
