@import "../../../assets/styles/variables";

.modal {
  @apply flex items-center w-full min-h-screen relative px-[10px] bg-black-400 py-[100px];
}

.modalContent {
  @apply w-full flex flex-col items-center;
}

.modalClose {
  @apply w-[70px] h-[70px] top-[10px] right-[10px] flex items-center justify-center absolute bg-black-300 cursor-pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  & > svg {
    transition: transform 0.3s;
    & > path {
      transition: fill 0.3s;
    }
  }
  &:hover {
    background-color: lighten($black-300, 5%);
    & > svg {
      transform: scale(1.1);
      & > path {
        fill: #ffffff;
      }
    }
  }
  @media (max-width: $breakpoint768) {
    @apply right-0 scale-75;
  }
}

.top {
  @apply mb-[50px] md:mb-[30px];
  &_flex {
    @apply flex items-end justify-center xs:flex-col xs:items-center;
    & > a {
      transition: color 0.25s;
      &:hover {
        color: darken($primary-400, 5);
      }
    }
  }
}

.authButton {
  @apply mt-[30px] md:mt-[20px];
}

.registerInputs {
  @apply flex flex-wrap justify-between w-[650px] md:flex-col md:items-center md:w-full mb-[10px];
  & > input,
  & > div {
    @apply mb-[20px] md:w-full;
  }
}

.registerTitle {
  @apply ml-[50px] md:ml-[25px] xs:ml-0 xs:mb-[10px];
  @media (max-width: 400px) {
    font-size: 24px !important;
    margin-top: 5px;
  }
}

.loginTitle {
  @apply mr-[50px] md:mr-[25px] xs:mr-0 xs:mb-[10px];
}

.input {
  @apply mb-[20px];
}

.checkbox {
  @apply w-[550px] sm:w-auto;
}

.vkButton {
  @apply mt-[20px];
  & > span {
    margin-right: 5px !important;
  }
}

.form {
  @apply flex flex-col items-center md:w-full;
}

.errorText {
  @apply text-[17px] text-red-100 text-center w-full;
}
